<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="username">User I'd</label>
                <input type="text" id="username" name="id" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <% if (data === 'UserExists') { %>
                <div class="err">
                    <p>User already exists. Please log in.</p>
                </div>
            <% } %>
            
        <% if (data === 'WrongPassword') { %>
            <div class="err">
              <p>Wrong Password.</p>
            </div>
          <% } %> 
            <button type="submit">Login</button>
        </form>
        <p class="register-link">Don't have an account? <a href="/signup">Register here</a>.</p>
    </div>
</body>
</html>
